# Tam sayıyı ondalık yapma

In [1]:
a = 43
float(a)

43.0

In [2]:
b = -453
float(b)

-453.0

# Ondalık sayıyı tam sayı yapma

In [3]:
a = 423.4
int(a)

423

In [4]:
b = 44.31231
int(b)

44

# Sayıları Stringlere Çevirme

In [5]:
str(345)

'345'

In [6]:
a = str(345)
len(a)

3

# Stringleri Tamsayıya ve Ondalık sayıya Çevirme

In [7]:
#Hatalı
a = "45424sadsadsadsa"
int(a)

ValueError: invalid literal for int() with base 10: '45424sadsadsadsa'

In [10]:
#Hatalı
a = "3.321.213"
float(a)

ValueError: could not convert string to float: '3.321.213'

In [12]:
a = "2312133213112313"
int(a)

2312133213112313

In [13]:
float(a)

2312133213112313.0